body{
    height: 600px;
    width: 375px;
    margin: 0 auto;
    background: url(assets/jj.svg) center / contain no-repeat;
}
.container_flex{
    display: flex;
    background-color: #ffffff;
    height: auto;
    width:  375px;
}
.container_grid{
    display: grid;
}
#span1{
    width: 76px;
    height: 20px;
    font-family: Poppins ;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #6070FF;
    margin: 21px;
}
#nav_icon{
    margin-left: 200px;
}
h2{
    width: 327px;
    height: 150px;
    font-family: Poppins ;
    font-style: normal;
    font-weight: 700;
    font-size:40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172B4D;
    margin-left: 20px;
    margin-top: 50px;
}
p{
    width: 327px;
    height: 146px;
    font-family: Poppins ;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin-left: 20px;
    margin-top: -30px;
    align-items: center;
}
#span2{
    width: 117px;
    height: 24px;
    font-family: Poppins ;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color:  #7F8CFF;
    margin-left: 20px;
}
.image_pos{
    margin-left: 20px;
    margin-top: 15px;

}